{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
<div class="card bg-secondary text-warning">
    <div class="card-body">
        <h1 class="card-title ">Playlists</h1>

        <div class='row'>
            {% for playlist in playlists %}
                <div class='col-lg-2'>
                    <h2><a class="text-dark" href='/playlists/{{ playlist._id }}'>{{ playlist.title }}</a></h2>
                    <h4 class="text-light">{{ playlist.description }}</h4>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}
